@import 'https://rsms.me/inter/inter.css';

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  --radius: 0.625rem;

  /* Brand Colors (Purple) */
  --brand-500: #6c1df3;
  --brand-600: #5910d3;

  /* Brand Colors (Blue) */
  --complementary-500: #134cd8;
}

body {
  margin: 0;
  min-height: 100vh;
}
